
.vs/Playfair-cipher/FileContentIndex/9156973d-7fc9-45fc-bac0-aad4e9870e42.vsidx
.vs/Playfair-cipher/v17/.wsuo
.vs/Playfair-cipher/v17/DocumentLayout.backup.json
.vs/Playfair-cipher/v17/DocumentLayout.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
MiSZI_1/.vs/MiSZI_1/FileContentIndex/2277714d-5d1b-42f4-9591-c2316f7cacb7.vsidx
MiSZI_1/.vs/MiSZI_1/FileContentIndex/3f1a8b5c-3fc7-4d3b-8876-652c27129136.vsidx
MiSZI_1/.vs/MiSZI_1/FileContentIndex/fa12df9a-11c6-47b1-b249-112f3e9b9b93.vsidx
MiSZI_1/.vs/MiSZI_1/v17/.suo
MiSZI_1/.vs/MiSZI_1/v17/DocumentLayout.backup.json
MiSZI_1/.vs/MiSZI_1/v17/DocumentLayout.json
MiSZI_1/MiSZI_1.sln
MiSZI_1/MiSZI_1/Playfair-cipher.pyproj
